---
import { Search } from "../components/search";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/newsletter-scraper/favicon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Newsletter Scraper</title>
  </head>
  <body class="min-h-screen">
    <Search client:only="solid-js" />

    <footer
      class="fixed bottom-0 w-full bg-white/30 backdrop-blur-sm z-10 flex items-center p-3 justify-center"
    >
      Made by <a
        href="https://github.com/carlosqsilva"
        class="mx-1 text-sky-600">Carlos Silva</a
      >
    </footer>
  </body>
</html>
